# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/
env/

# ML Models
models/*.weights.h5
models/*.npy
models/*.png

# OS files
.DS_Store
Thumbs.db
